h1, h2, h3, h4, h5, h6 p, li, body {
	font-family: "proxima-nova", sans-serif !important;
	font-weight: lighter !important;
}

.header-global {
	background-color: #242424;
	border-bottom: none;
}


.header-global .row {
	width: 100%;
  	margin: 0 auto;
  	position: relative;
  	text-align:center;
	vertical-align: top;
	
}


.header-global .col {
	display:inline-block;
 	 margin: 10px;
	width: 300px;
	vertical-align: top;
	
}

.header-global .btn-neutral {
	color: #ffffff !important;
}

.header-global .nav-global {
	float: right !important;
	text-align: right !important;
}

.btn-neutral {
	font-weight: normal !important;
}

.header-global .nav-courseware li .btn{
	box-shadow: none !important;
	font-weight: normal;
	background-color: transparent!important;
	color: #009edb !important;
	border-color: #009edb !important;
	border-width: 2px !important;
	border-style: solid !important;
	border-radius: 0px;
	        &:hover{
				background-color: #009edb !important;
				color: #ffffff !important;
        }
}


.header-global h1.logo img {
	max-height: 40px;
}

.home > header {
	background: url('../images/header_bg.jpg');
	
	background-size: cover;
	-moz-background-size: 100%;
	-moz-background-size: cover;
	background-position: center top;

	.outer-wrapper {
		padding-top: 150px;
	    padding-bottom: 150px;
	}
	.title {
		background: transparent;
		box-shadow: none;
		margin-left: 0;

		> .heading-group h1 {
			color: #fff;
			text-shadow: none;
		}
		> .heading-group p {
			color: #fff;
		}
	}
}

.course-date {
	visibility: hidden;
}

//Footer

.footer-main{
	background-color: #242424;	
  padding: 2em 0;
  .logo{
    margin-bottom: 1em;
  }
	
	.row {
	width: 100%;
  	margin: 0 auto;
  	position: relative;
  	text-align:center;
	vertical-align: top;
	
}


.col {
	display:inline-block;
 	 margin: 10px;
	width: 300px;
	vertical-align: top;
	
}
	
	
	
  ul{
    list-style: none;
    margin-left: 1.5em;
	  text-align: left !important;
    li{
    color: #a29c9a;
	font-weight: lighter;
	font-size: 14px;
    padding: .3em 0;
      a{
        color: #a29c9a !important;
		 font-weight: lighter;
        &:hover{
          color: #e0e0e0 !important;
          text-decoration: none;
        }
      }
      &:first-child{
		color: #bfbfbf !important; 
		text-transform:  uppercase;
		  font-size: 16px;
      }
      &:last-child{
        margin-bottom: 2em;
      }
    }
  }
  .footer-logo{
    text-align: center;
    img{
      margin-bottom: 1.5rem;
      width: auto;
      height: 44px;
    }
  }
  .open-edx-logo{
    ul{
      li{
        text-align: left;
        img{
          max-width: 80%;
        }
      }
    }
  }
}