## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<script type="text/template" id="about-content">
  <div class="grid-manual">
    <div class="row">
      <div class="col col-12 text-center">
        <h2>Learn from content experts, on demand</h2>
      </div>
    </div>

    <div class="row about-list text-center">
      <div class="col col-4 about-list-item">
        <div class="about-icon">
          <img src="${static.url('images/now-icon.png')}" alt="Learn now" />
          <p>
            <span>Learn now</span>
            Engaging videos and hands-on labs to equip you with  with the skills and knowledge to be ultra productive
          </p>
        </div>
      </div>
      <div class="col col-4 about-list-item">
        <div class="about-icon">
          <img src="${static.url('images/pace-icon.png')}" alt="Learn at your own pace" />
          <p>
            <span>Learn at your own pace</span>
            All courses are self-paced allowing you to pause and resume as your schedule permits
          </p>
        </div>
      </div>
      <div class="col col-4 about-list-item">
        <div class="about-icon">
          <img src="${static.url('images/anywhere-icon.png')}" alt="Learn anywhere" />
          <p>
            <span>Learn anywhere</span>
            All you need is an internet connection, learn from any computer or mobile device
          </p>
        </div>
      </div>
    </div>

    <div class="row hidden more-about-btn">
      <div class="col col-12 text-center">
        <a href="https://www.combined-knowledge.com/index.php/home/about-us/" target="_blank" class="btn-neutral">More about Combined Knowledge</a>
      </div>
    </div>
  </div>
</script>

<script src="${static.url('js/about-site.js')}"></script>
